:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}
h1 {
  font-size: 96px;
}
h3 {
  font-size: 34px;
  opacity: 0.8;
  margin: 10px;
}

.navigaton-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}
.navigaton-links a {
  border-radius: 4px;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: capitalize;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(images/kyiv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
}

header h3 {
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 30px 0;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.img-responsive {
  width: 100%;
  display: block;
  min-height: 150px;
  max-height: 130px;
}

.img-responsive1 {
  width: 100%;
  display: block;
}
.grid {
  display: grid;
  grid-gap: 64px;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #272044;
  opacity: 0.3;
  text-transform: uppercase;
}
main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #272044;
  margin: 0;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
section.secondary {
  background: #f8f8f8;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
.text-center {
  text-align: center;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.card {
  background: white;
  margin: 30px 0;
}
.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 30px;
}

.embed {
  width: 100%;
  aspect-ratio: 1 /1;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
  cursor: pointer;
}

a.CommentInput {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  text-decoration: none;
  max-height: 600px;
}

.Footer {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #dbdbdb;
  border-top: 1px solid rgba(var(--b38, 219, 219, 219), 1);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 44px;
  padding: 0 10px;
}

.instagram-media-rendered {
  background: white;
  max-width: 540px;
  width: calc(100% - 2px);
  border-radius: 3px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: none;
  display: block;
  margin: 0px 0px 12px;
  min-width: 326px;
  padding: 0px;
  max-height: 650px;
  margin-top: 20px;
}

footer {
  color: white;
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(images/red.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-3-columns-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
footer a {
  color: white;
  opacity: 0.7;
}
a:-webkit-any-link {
  cursor: pointer;
  text-decoration: underline;
}

.card {
  box-shadow: var(--box-shadow);
  background-color: var(--secondary-color);
}

@media (max-width: 380px) {
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
}
